@mixin field {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.container {
    @include field;
    &--SHIP {
        @include field;
        background-color: grey;
    }

    &--HIT {
        @include field;
        background-color: orange;
    }

    &--DESTROYED {
        @include field;
        background-color: red;
    }

    &--MISSED {
        @include field;
        background-color: lightblue;
    }
}
