@mixin field {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

@mixin backgroundColor($color) {
    background-color: $color;
    border: none;
}

.container {
    @include field;
    &--SHIP {
        @include field;
        @include backgroundColor(grey);
    }

    &--HIT {
        @include field;
        @include backgroundColor(orange);
    }

    &--DESTROYED {
        @include field;
        @include backgroundColor(red);
    }

    &--MISSED {
        @include field;
        @include backgroundColor(lightblue);
    }
}
